<launch>
    <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch" >
		<arg name="robot_ip" value="192.168.1.20"/>

	</include>
    
	<include file="$(find ur5_movit_naomi)/launch/real.launch">
	</include>
	
	<!--uncomment below when no arena is defined in other package-->
	<!--<node name="arena_node" pkg="cobot_visualisation" type="arena_node" output="screen" respawn="false" />
	-->


	
</launch>